
body{
    background-color: #a3a3a3;
	
}

header, section, footer, aside, nav, article, figure, figcaption {
	display: block;
}

h1{
	text-align:center;
}

header{
	margin-bottom: 20px;
}

.container-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-nav nav {
	background-color: wheat;
	height: 60px;
	width: 100%;
}

.container-nav ul {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	}

.container-nav li {
	display: inline-block;
	margin-left: 20px;
	margin-right: 10px;
}
.container-nav img.welcome {
	width: 100%;
	max-width: 150px;
	order: 1;
	margin-right: 24rem;
	margin-left: 0.1rem;
}
.container-nav li input[type="text"] {
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.container-nav li button[type="submit"] {
	padding: 10px;
	border: none;
	background-color: #008CBA;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

li {
	margin: 0 10px;
}


ul li a{
	color: #a3a3a3;
	font-size: 20px;
	text-decoration: none;
}

ul li a:hover{
	color: #333;
}

.icon-home {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image :url(../imgs/icons_navbar/home.png);
	vertical-align:middle;
	margin-bottom: 5px;
}

.icon-price {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../imgs/icons_navbar/prices.png);
	vertical-align:middle;
	margin-bottom: 5px;
}

.icon-user {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../imgs/icons_navbar/login.png);
	vertical-align:middle;
	margin-bottom: 5px;
}

.icon-register {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../imgs/icons_navbar/add_user.png);
	vertical-align:middle;
	margin-bottom: 5px;
}
.icon-logout{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../imgs/icons_navbar/logout.png);
	vertical-align:middle;
	margin-bottom: 5px;
}

.container{
	width: 500px;
}

.form-separator {
    margin-bottom: 4rem; 
}